.btn {
    width: 10rem;
    height: 5rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #000000;   
    color : #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
  &:hover {
      background: rgb(255, 0, 0);
    }
  }
  